.text-style-class{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 130%;
    line-height: 20px; /* jarak antar baris text */
    /* text-indent: 30px; Menjorok Kedalam */
    word-spacing: 3px;
    color: #FFFFF8;
    text-align: center;
    /* text-decoration: overline; untuk dekorasi text, contohnya underline/overline */
    /* text-transform: capitalize; -> seperti upercase/lowercase/capitalize */
}

#heading-h1{
    text-align: center;
    font-family: Arial, Verdana, sans-serif;
    color: #FFFFF8;
}

body{
    background-color: #181818;
}

.hr-style{
    border: 5px dashed black;
    border-spacing: 0px;
    background-color: #FFFFF8;
}
