.navigasi {
    background-color: darkgray;
}

.highlight-text {
    background-color: red;
}

.inline {
    width: 100px;
    height: 100px;
    font-size: 20px;
    background-color: pink;
    /* Tidak Berpengaruh jika Display tidak diubah */
}

.inline2 {
    display: inline-block;
    font-size: 30px;
    background-color: pink;
}

.isi {
    margin-top: 20px;
    width: 400px;
    height: 500px;
    overflow: auto;
    background-color: springgreen;
}

#container {
    margin: 0 auto;
    width: 90%;
}