

.div-satu, .div-dua {
    position: absolute;
    height: 200px;
    width: 200px;
}

.div-dua {
    margin-top: 600px;
}

.satu {
    background-color: red;
}
.dua {
    background-color: green;
    top: 100px;
    left: 100px;
}
.tiga {
    background-color: blue;
    top: 200px;
    left: 200px;
}



.empat {
    background-color: red;
    z-index: 100;
}
.lima {
    background-color: green;
    top: 100px;
    left: 100px;
    z-index: 50;
}
.enam {
    background-color: blue;
    top: 200px;
    left: 200px;
}

.black {
    background-color: black;
    opacity: 0.8;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    position: fixed;
    z-index: 1000;
}

.close {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    right: -10px;
    top: -10px;
    position: absolute;

    border: 5px solid black;

    /* text */
    text-align: center;
}