.satu {
    width: 100px;
    height: 100px;
    background-color: lawngreen;
}

.dua {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.tiga {
    width: 100px;
    height: 100px;
    background-color: orange;
}

.empat {
    width: 100px;
    height: 100px;
    background-color: lawngreen;
}

.lima {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.enam {
    width: 100px;
    height: 100px;
    background-color: orange;
}

.tujuh {
    width: 100px;
    height: 100px;
    background-color: lawngreen;
}

.delapan {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.sembilan {
    width: 100px;
    height: 100px;
    background-color: orange;
}




.margin-left-right {
    margin: 0px auto;
}




